<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<div id='app'>
  <form action="http://localhost:8080" method="post">
    name <input type="text" name="name"><br>
    psw  <input type="text" name="psw"><br>
    <input type="submit"></input>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script>
    //允许使用开发者工具
    Vue.config.devtools = true;
    Vue.config.productionTip = false;
    new Vue({
        el: '#app',
    })
</script>
</body>
</html>